.characterImage {
    width: 250px;
    height: 250px;
    border: 5px dotted black;
    border-radius: 50%;
    margin: 5px;
}

.choosenCharacterImage {
    width: 150px;
    height: 150px;
    border: 5px dotted black;
    border-radius: 50%;
    margin-bottom: 15px;
}

.selectedImage {
    background-color: #2ecc71;
}
