html, body {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    background-color: #f1f1f1;
    background-image: url("../images/ep_naturalwhite.png");
}

#link-new-user {
    display: block;
}

h1 {
    font-weight: bold;
    font-size: 70px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

.btn-new-user {
    border: 6px dotted #C9C900;
    background-color: #FFFEF6;
    box-sizing: content-box;
    border-radius: 10px;
    display: block;
    height: 270px;
    width: 300px;
    margin: 0 auto;
    -webkit-box-shadow: -2px -1px 95px 3px rgba(185,209,152,1);
    -moz-box-shadow: -2px -1px 95px 3px rgba(185,209,152,1);
    box-shadow: -2px -1px 95px 3px rgba(185,209,152,1);


}

.btn-new-user img {
    display: inline-block;
    vertical-align: middle;
    margin: 35px 0 0 20px;
}

.btn-new-user i {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 0 0 10px;
    color: black;
    
}

#registration {
    border: 10px double black;
    box-sizing: content-box;
    background-color: #f6f6f6;
    border-radius: 20px;
    margin-top: -25px;
}
.questionparagraph {
    font-size: 40px;
}

.button-answer {
    background-color: #ECEFF1;
    border-color: #CFD8DC;
    border-radius: 10px;
    border-width: 3px;
    color: black;
    display: inline-block;
    font-size: 40px;
    /*font-weight: bold;*/
    margin-bottom: 20px;
    width: 100%;
}

/*Tar bort blå kant som visas vid klick*/

.button-answer:focus {
    outline: 0;
}

.button-answer:active {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

.fa_custom {
    color: #2C7AED ;
    background-color: white;
    border-radius: 50%;
    height: 82px;
    width: 82px;
    text-align: center;
    padding: 5px;
    margin: 20px 20px 0 0;
    cursor: pointer;
}
.ribbon {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 0;
    height: 100px;
    margin-left: 70px;
    border: 50px solid white;
    border-top: 0 solid;
    border-bottom: 35px solid rgba(0,0,0,0);
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    }


.continue_button {
    background-color: #48A2A6;
    border: none;
    color: white;
    display: inline-block;
    font-size: 40px;
    margin: 10px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.return_button {
    background-color: #48A2A6;
    border: none;
    color: white;
    display: inline-block;
    font-size: 40px;
    margin: 10px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.playbutton {
    background-color: #4CAF50;
    border: 3px dotted #F6E67F;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 40px;
    margin: 10px 5px;
    padding: 10px 70px;
    text-align: center;
    text-decoration: none;
}

#homeplaybutton {
    background-color: #4CAF50;
    border: 3px dotted #F6E67F;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 50px;
    margin: 0px 5px;
    padding: 5px 50px;
    text-align: center;
    text-decoration: none;
}


.exercise_button{
    background-color:#E34478;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 40px;
    margin: 10px 5px;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
}

.home_map_pic{
    max-width: 100%;
}
.change_theme_button {
    background-color: #A7CA00;
    border: 3px dashed #F6E67F;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    margin: 10px 5px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}

#exit_button{
    background-color:#F8070D;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 38px;
    margin: 10px 5px;
    padding: 2px 10px;
    text-align: center;
    text-decoration: none;

}

#spacerow{
    margin-bottom: 60px;
    margin-top: 10px;
}

#question-img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
}

#question-video {
    max-height: 400px;
    max-width: 100%;
    width: 100%;
}

.star-score-img {
    display: none;
    height: 55px;
    margin-right: 10px;
}

.answered-right {
    background-color: #4CAF80;
    border-color: #4CBA80;
    color: #ffffff;
}

.answered-wrong {
    background-color: #999999;
    border-color: #888888;
    color: #777777;
}

#answer-message {
    font-size: 1.5rem;
    height: 50px;
}

.modal-custom-width {
    max-width: 90%;
}

h1 {
    margin-bottom: 40px;
}

.container-info {
    display: block;
    height: 500px;
}

.item {
    width: 100%;
    height: auto;
}

.carousel-inner {
    height: 500px;
    margin-top: 10%;
}

ol.carousel-indicators {
    position: absolute;
    bottom: 0;
    margin-top: -10%;
    /*left: 0;
    right: 0;*/
}

ol.carousel-indicators li, ol.carousel-indicators li.active {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 0;
    border: 0;
    background: #cccccc;
    border-radius: 25px;
    margin-right: 3%;
}

ol.carousel-indicators li.active {
    background: grey;
    border-radius: 25px;
    margin-right: 3%;
}

.carousel-control-prev {
  height: 0;
  position: relative;
}

.carousel-control-prev button {
  position: absolute;
  bottom: -100px;
  left: 0;
}

.carousel-control-next {
  height: 0;
  position: relative;
  float: right;
}

.carousel-control-next button {
  position: absolute;
  bottom: -100px;
  right: 0;
}

.carousel-hide-button {
  display: none;
}

#themehead {
    margin-bottom: 100px;
}

.col-theme {
    display: flex;
    justify-content: center;
}

.button-theme {
    width: 550px;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 10px;
}

.align-left {
    text-align: left;
}

#maptest {
    width: 305px;
    height: 421px;
}

.play-button-video-question {
    display: none;
    font-size: 150px;
    color: white;
    position: absolute;
    top: 33%;
    left: 0;
    right: 0;
}

#submit_button{
    background-color: #48A2A6;
    color:white;
    font-size: 30px;
    width: 150px;
}

.radio-inline{
    margin: 5px 30px;
}

.button-theme{
    background-color:#317cbd;
    color: white;
}

#themehead_bold{
    font-weight: bold;
}

.registration_radio{
    margin-right: 20px;
   transform: scale(2);
    
}