html, body {
    background-color: #f1f1f1;
    background-image: url("../images/ep_naturalwhite.png");
    /*font-family: 'Amatic SC', cursive;*/
    /*font-family: 'Averia Sans Libre', cursive, sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Autour One', cursive;
    font-size: 22px;
    min-width: 350px;
}

h1, h2, h3, h4, h5, h6 {
     font-family: 'Autour One', cursive;
    font-size: 50px;
    /*font-family: 'Amatic SC', cursive, sans-serif;*/
    /*font-family: 'Averia Sans Libre', cursive, sans-serif;*/
}

h1 {
    font-weight: bold;
    /*font-size: 70px;*/
}

p {
    /*font-family: 'Josefin Sans', sans-serif;*/
}

.font-averia {
    /*font-family: 'Averia Sans Libre', cursive, sans-serif;*/
}

.font-josefin {
    /*font-family: 'Josefin Sans', sans-serif;*/
}

#question-mark {
    margin-top: 15px;
}

.popover-header {
    color: #000;
    /*font-family: 'Averia Sans Libre', cursive, sans-serif;*/s
}
.popover-body {
    color: #000;
}

.modal-custom-width {
    max-width: 90%;
}


.continue_button {
    background-color: #48A2A6;
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    margin: 10px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.return_button {
    background-color: #48A2A6;
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    margin: 10px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}
