#bonus-word {
    font-family: monospace;
    font-size: 80px;
    margin: 20px;
}

/*#bonus-word span[class^="letter-"] {
    margin: 0 10px;
}*/

#bonus-word .fullPlaceName {
    margin: 0 3px;
}

.puzzle {
    min-width: 500px;
    padding: 5px;
    margin: 20px;
    /*background-color: #55AF55;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.puzzle-row {
    height: 155px;
}

.puzzle-piece {
    /*background-color: #ffffff;*/
    /*height: 200px;*/
    /*margin: 5px;*/
    /*border-radius: 10px;*/
    /*border: 3px solid;*/
}

.puzzle-piece.hidden-piece div {
    background-color: transparent;
    border: none;
}

.puzzle-piece div {
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid;
    cursor: pointer;
    pointer-events: none;
}

.puzzle-piece p {
    line-height: 3;
    font-size: 50px;
    margin: 0;
    cursor: pointer;
    pointer-events: none;
}

#btnNext {
    font-size: 1.2rem;
}
