html, body {
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
}

#link-new-user {
    display: block;

}

.btn-new-user {
    border: 1px solid #252525;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(87,87,87,0.8);
    display: block;
    height: 250px;
    width: 250px;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(87,87,87,0.8);
    -moz-box-shadow: 0px 0px 5px 3px rgba(87,87,87,0.8);
    margin: 0 auto;
}

.btn-new-user img {
    display:block;
    margin: auto;
    margin-top: 20px;
}


.questionparagraph {
    font-size: 40px;
}

.button-answer {
    background-color: #ECEFF1;
    border-color: #CFD8DC;
    border-radius: 10px;
    border-width: 3px;
    color: white;
    display: inline-block;
    font-size: 40px;
    /*font-weight: bold;*/
    margin-bottom: 20px;
    width: 100%;
}

/*Tar bort blå kant som visas vid klick*/
.button-answer:focus {
    outline:0;
}

.button-answer:active {
    box-shadow: 0 0 0 3px rgba(0,123,255,.5);
}


.fa_custom {
    color: steelblue;
    padding: 10px;
}

.continue_button{
    background-color: #2A3AB7;
    border: none;
    color: white;
    display: inline-block;
    font-size: 40px;
    margin: 10px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.return_button{
    background-color: red;
    border: none;
    color: white;
    display: inline-block;
    font-size: 40px;
    margin: 10px 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.playbutton{
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #888888;
    color: white;
    display: inline-block;
    font-size: 50px;
    margin: 10px 5px;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
}


#question-img {
    max-height: 400px;
    max-width: 100%;
    width: auto;
}

#question-video {
    max-height: 400px;
    max-width: 100%;
    width: 100%;
}


.star-score-img {
    display: none;
    height: 55px;
    margin-right: 10px;
}

.answered-right {
    background-color: #4CAF80;
    border-color: #4CBA80;
    color: #ffffff;
}
.answered-wrong {
    background-color: #999999;
    border-color: #888888;
    color: #777777;
}

#answer-message {
    font-size: 1.5rem;
    height: 50px;
}

.modal-custom-width {
    max-width: 90%;
}

h1{
    margin-bottom:40px;
}