.theme-color-1 {
    background-color: #d65ab1;
}
.theme-color-2 {
    background-color: #e5d80e;
}
.theme-color-3 {
    background-color: #4cbf1b;
}
.theme-color-4 {
    background-color: #317cbd;
}
.theme-color-5 {
    background-color: #eb8807;
}
.theme-color-6 {
    background-color: #d13838;
}
