

#themehead {
    margin-bottom: 100px;
}

#themehead_bold {
    height: 100%;
}

#themehead_bold img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -60px; /* Half the height */
    margin-left: -230px; /* Half the width */
}

.col-theme {
    display: flex;
    justify-content: center;
}

.button-theme {
    width: 550px;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 10px;
}

.button-theme h2{
    margin-bottom: 0;
    padding-bottom: 0;
    height: 90px;
    padding-top: 15px;
    font-family: 'Averia Sans Libre', cursive, sans-serif;
}


.theme-color-1 {
    background-color: #d65ab1;
}
.theme-color-2 {
    background-color: #e5d80e;
}
.theme-color-3 {
    background-color: #4cbf1b;
}
.theme-color-4 {
    background-color: #317cbd;
}
.theme-color-5 {
    background-color: #eb8807;
}
.theme-color-6 {
    background-color: #d13838;
}
