#link-new-user {
    display: block;

}

.btn-new-user {
    display: block;
    height: 250px;
    width: 250px;
    border: 1px solid #252525;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(87,87,87,0.8);
    -moz-box-shadow: 0px 0px 5px 3px rgba(87,87,87,0.8);
    box-shadow: 0px 0px 10px rgba(87,87,87,0.8);
     margin: 0 auto;
}

.btn-new-user img {
    display:block;
    margin: auto;
    margin-top: 20px;
}

body {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.questionparagraph {
    font-size: 40px;
}

.button-answer {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    font-size: 40px;
}

/*Tar bort blå kant som visas vid klick*/
.button-answer:focus {
    outline:0;
}


.fa_custom {
    color: steelblue;
    padding: 40px;
}

.continue_button{
    background-color: mediumblue;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    font-size: 40px;
}

.return_button{
   background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    font-size: 40px;
}

.playbutton{
    background-color: #4CAF50;
    box-shadow: 5px 5px 5px #888888;
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    font-size: 50px;
    border-radius: 10px;
}

.star-score-img {
    height: 55px;
    margin-right: 10px;
    display: none;
}

.answered-right {
    color: #ffffff;
    border-color: #4CBA80;
    background-color: #4CAF80;
}
.answered-wrong {
    color: #777777;
    border-color: #888888;
    background-color: #999999;
}

#answer-message {
    height: 50px;
}
