#registration {
    border: 10px double black;
    box-sizing: content-box;
    background-color: #f6f6f6;
    border-radius: 20px;
    padding: 15px 60px 15px 60px;
    margin-top: 15px;
}

#openCharacterModal{
    /*text-decoration: none;*/
}

.btn-choose-character {
    /*background-color: #E34478;
     border-radius: 0px;
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    padding: 5px 10px;
    text-decoration: none*/
}

.characterImage {
    width: 215px;
    height: 215px;
    border: 5px dotted black;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}

.choosenCharacterImage {
    background-color: #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
    width: 150px;
    height: 150px;
    border: 5px dotted black;
    border-radius: 50%;
    margin-bottom: 15px;
    cursor: pointer;
}

.selectedImage {
    background-color: #2ecc71;
}

#characterModalTitle {

}

#characterModal .modal-header .close {
    margin: 0;
    line-height: 2rem;
}

#characterModal  .modal-custom-width {
    margin: 25px auto
}

#characterModal .modal-header .close span {
    vertical-align: middle;
    font-size: 5rem;
}

a.btn-cancel {
    background-color: #48A2A6;
    border: none;
    color: #ffffff;
    display: inline-block;
    font-size: 40px;
    /* margin: 10px 5px; */
    padding: 10px 20px;
    /* text-align: center; */
    text-decoration: none;
}
